<div *ngIf="countries.length === 0 && this.isLoading === false; else table" class="alert alert-warning text-center">
  Sin resultados de busqueda
</div>
<ng-template #table>
  <shared-loading-spinner *ngIf="this.isLoading"></shared-loading-spinner>
  <table *ngIf="!this.isLoading" class="table table-bordered table-hover w-100">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>País</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{i + 1}}</td>
        <td><img class="img-fluid img-thumbnail" [src]="country.flags.svg" [alt]="country.name.common"> </td>
        <td>{{country.name.common}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.population | number}}</td>
        <td><a [routerLink]="['/countries/by', country.cca3]" class="link-primary">Ver mas</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
